In [1]:
# Esercizio 1
# 	Abbiamo la stringa: nome_scuola = "Epicode" 
# 	Stampare ogni carattere della stringa, uno su ogni riga, utilizzando un costrutto while.

In [61]:
nome_scuola = "Epicode"
lunghezza = len(nome_scuola)
n=0
while n<lunghezza:
    print( nome_scuola[n:(n+1)])
    n= n+1

E
p
i
c
o
d
e

In [ ]:
# Esercizio 2
# 	Stampare a video tutti i numeri da 0 a 20 utilizzando il costrutto while. 
# 	Utilizzeremo: 
# 	• un ciclo while 
# 	• la funzione print() 
# 	• una variabile, che dovrà essere inizializzata 
# 	• una procedura di incremento

In [1]:
n=0
while n<=20:
    print(n)
    n=n+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# Esercizio 3
# 	Calcolare e stampare tutte le prime 10 potenze di 2 (e.g., 2°, 2¹, 2², …) utilizzando un ciclo while.

In [5]:
esp=0
while esp<10:
    print(2**esp)
    esp=esp+1

1
2
4
8
16
32
64
128
256
512

In [ ]:
# Esercizio 4
# 	Calcolare e stampare tutte le prime N potenze di 2 utilizzando un ciclo while, domandando all'utente di inserire N.

In [83]:
nr_calcoli = input("inserire nr potenze da calcolare")
num = int(nr_calcoli)
esp=0
while esp<num:
        print(2**esp)
        esp=esp+1

inserire nr potenze da calcolare 3

1
2
4

In [ ]:
# Esercizio 5
# 	Calcolare e stampare tutte le potenze di 2 minori di 25000.

In [305]:
esp=0
risultato=0
while risultato<25000:
    risultato=2**esp
    if risultato < 25000:
        print(risultato)
    esp=esp+1

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384

In [ ]:
# Esercizio 6
# 	Abbiamo due liste, una di studenti e una di corsi: 
# 	studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
# 	corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]
# 	
# 	Aggiungere i dati mancanti alla lista corsi, sapendo che 
# 		Emma segue Data Analyst 
# 		Faith segue Backend 
# 		Grace segue Frontend 
# 		Henry segue Cybersecurity 
# 	Aggiungeremo i dati mancanti uno alla volta con il metodo per appendere in coda alle liste, 
# 	poi verificheremo che sono della stessa lunghezza e se lo sono stamperemo la lista corsi. 
# 	Se alcuni dati sono già presenti non vanno aggiunti di nuovo

In [ ]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]
studenti.append(

In [ ]:
# Esercizio 7
# 	Scriviamo un programma che chiede in input all'utente una stringa e visualizza i primi 3 caratteri, 
# 	seguiti da 3 punti di sospensione e quindi gli ultimi 3 caratteri, similmente all'esercizio della lezione scorsa. 
# 	Stavolta facciamo attenzione a tutti i casi particolari, 
# 	ovvero implementare soluzioni ad hoc per stringhe di lunghezza inferiore a 6 caratteri.

In [103]:
stringa = input("inserire una stringa")
if len(stringa)<6:
    print("Stringa troppo corta!!!")
else:
    print(stringa[:3], "...", stringa[-3:])

inserire una stringa massimo

mas ... imo

In [ ]:
# Esercizio 8
# 	Memorizza e stampa tutti i fattori di un numero dato in input. 
# 	Esempio: 
# 	• input: 150 
# 	• output: [2, 3, 5, 5]

In [9]:
numero = int(input("inserisci un numero"))
fattori=[]
divisore = 2
while (numero) > 1:
    while (numero % divisore)== 0:
        fattori.append(divisore)
        numero = numero // divisore
    divisore+=1
    
print(fattori)

inserisci un numero 10000000

[2, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 5, 5, 5]

In [ ]:
# Esercizio 9
# 	Abbiamo la stringa: nome_scuola = "Epicode" 
# 	Stampare ogni carattere della stringa, uno su ogni riga, utilizzando un costrutto for.

In [82]:
nome_scuola = "Epicode"
lunghezza = len(nome_scuola)
n=0
for n in range(lunghezza):
    print( nome_scuola[n:(n+1)])
    n= n+1

E
p
i
c
o
d
e

In [ ]:
# Esercizio 10
# 	Calcolare e stampare tutte le prime 10 potenze di 2 utilizzando un ciclo. 
# 	Utilizzeremo: 
# 	• un ciclo per generare i primi 10 numeri, 
# 	  e.g.: range_numerico = list()  # init 
# 		    num = 1  # init 
# 			while num <= 10: 
# 				range_numerico.append(num) 
# 				num += 1

In [88]:
esp=0
for esp in range(11):
    print("2 elevato alla", esp, "da:", 2**esp)
    esp+=1

2 elevato alla 0 da: 1
2 elevato alla 1 da: 2
2 elevato alla 2 da: 4
2 elevato alla 3 da: 8
2 elevato alla 4 da: 16
2 elevato alla 5 da: 32
2 elevato alla 6 da: 64
2 elevato alla 7 da: 128
2 elevato alla 8 da: 256
2 elevato alla 9 da: 512
2 elevato alla 10 da: 1024

In [ ]:
# Esercizio 11
# 	Calcolare (ma non stampare) le prime N potenze di K; ognuna di esse andrà memorizzata in coda a una lista. 
# 	Alla fine, stampare la lista risultante. 
# 	Proviamo con diversi valori di K, oppure facciamola inserire all'utente. 
# 	Realizzare due versioni: 
# 		• con un ciclo while, 
# 		• con un ciclo for.

In [100]:
numero = int(input("inserire un numero:"))
numero_potenze= int(input("inserire quante potenze calcolare"))
risultato=[]
contatore = 0
while contatore < numero_potenze:
    risultato.append(numero**contatore)
    contatore+=1
print("Risultato:", risultato)

inserire un numero: 1254
inserire quante potenze calcolare 4

Risultato: [1, 1254, 1572516, 1971935064]

In [102]:
numero = int(input("inserire un numero:"))
numero_potenze= int(input("inserire quante potenze calcolare"))
risultato=[]
contatore = 0
for contatore in range(numero_potenze):
    risultato.append(numero**contatore)
    contatore+=1
print("Risultato:", risultato)

inserire un numero: 2
inserire quante potenze calcolare 10

Risultato: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
# Esercizio 12
# 	Abbiamo una lista con i guadagni degli ultimi 12 mesi: 
# 		guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50] 
# 	usando un costrutto for, calcolare la media dei guadagni e stamparla a video.

In [106]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50] 
i=0
somma=0
for i in range(len(guadagni)):
    somma=somma+guadagni[i]
print(somma/len(guadagni))

70.0

In [ ]:
# Esercizio 13
# 	Abbiamo una lista di parole: 
# 		parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere", "Semestre", "Esteta", "Sosta", "Orpello", "Abete", "Orologio", "Cesta", "Ermellino"] 
# 		stampiamo, per ogni parola, quante volte appare la lettera "e"; 
# 		facciamo attenzione al fatto che appare sia maiuscola che minuscola.

In [15]:
parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere", "Semestre", "Esteta", "Sosta", "Orpello", "Abete", "Orologio", "Cesta", "Ermellino"]
len(parole)
i=0
for i in range(len(parole)-1):
    conteggio = parole[i].lower().count('e')
    print("Per la parola", parole[i], "la lettera ** e ** è prensente", conteggio ,"volte")
    i+=1

Per la parola Albergo la lettera ** e ** è prensente 1 volte
Per la parola Sedia la lettera ** e ** è prensente 1 volte
Per la parola Borgo la lettera ** e ** è prensente 0 volte
Per la parola Petalo la lettera ** e ** è prensente 1 volte
Per la parola Eremo la lettera ** e ** è prensente 2 volte
Per la parola Belvedere la lettera ** e ** è prensente 4 volte
Per la parola Semestre la lettera ** e ** è prensente 3 volte
Per la parola Esteta la lettera ** e ** è prensente 2 volte
Per la parola Sosta la lettera ** e ** è prensente 0 volte
Per la parola Orpello la lettera ** e ** è prensente 1 volte
Per la parola Abete la lettera ** e ** è prensente 2 volte
Per la parola Orologio la lettera ** e ** è prensente 0 volte
Per la parola Cesta la lettera ** e ** è prensente 1 volte

In [ ]:
# Esercizio 14
# 	Creiamo un dizionario che assegni ad ogni proprietario la sua auto, sapendo che: 
# 		• Ada guida una Punto 
# 		• Ben guida una Multipla 
# 		• Charlie guida una Golf 
# 		• Debbie guida una 107 
# 	Stampiamo il dizionario per intero, e poi l'auto associata a Debbie.

In [1]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"} 
print(dizionario_auto)
print(dizionario_auto["Debbie"])

{'Ada': 'Punto', 'Ben': 'Multipla', 'Charlie': 'Golf', 'Debbie': '107'}
107

In [ ]:
# Esercizio 15
# 	Abbiamo un dizionario che assegna ad ogni proprietario la sua auto: 
# 		dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"} 
# 	Con un ciclo, e usando il metodo .values(), stampiamo a video tutte le auto che non sono una Multipla.

In [12]:
# Dizionario dei proprietari e delle loro auto
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"}

# Ciclo per stampare le auto che non sono una Multipla
for auto in dizionario_auto.values():
    if auto != "Multipla":
        print(auto)

Punto
Golf
107

In [ ]:
# Esercizio 16
# 	Abbiamo due dizionari che assegnano ad ogni proprietario la propria auto: 
# 		dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"} 
# 		nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"} 
# 	Aggiornare il dizionario dizionario_auto con i dati contenuti in nuovi_proprietari e stamparlo. 
# 	Cosa è successo a Ben?

In [13]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"} 
nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"} 
dizionario_auto.update(nuovi_proprietari)
print(dizionario_auto)

{'Ada': 'Punto', 'Ben': 'Polo', 'Charlie': 'Golf', 'Debbie': '107', 'Emily': 'A1', 'Fred': 'Octavia', 'Grace': 'Yaris', 'Hugh': 'Clio'}

In [ ]:
# Esercizio 17
# 	Osservando la sintassi dei dizionari, possiamo notare qualche affinità con il formato JSON?

In [ ]:
# Esercizio 18
# 	Scrivere un programma che, data una lista di numeri, fornisca in output il minimo e il massimo 
# 	(possiamo usare o meno le funzioni built-in min() e max()).

In [36]:
numeri=[5,5,2,7,88,33,45,76,]
print(max(numeri))
print(min(numeri))

88
2

In [ ]:
# Esercizio 19
# 	Scrivere un programma che, data una lista di numeri, fornisca in output i tre numeri più grandi; 
# 	gestire il caso in cui la lista sia più corta di tre, e quando uno o più dei numeri selezionati sono uguali.

In [50]:
numeri=[5,5,2,7,88,33,45,76]
len(numeri)
massimo=[]
i=0
if len(numeri)<3:
    print("lista troppo corta")
for i in range (3):
    massimo.append(max(numeri))
    numeri.remove(max(numeri))
    i+=1
print(massimo)

[88, 76, 45]

In [ ]:
# Esercizio 20
# 	Scrivere un programma che 
# 		• in input acquisisce una lista di numeri e un numero K 
# 		• in output, dovrà restituire la media di tutti i numeri nella lista maggiori o uguali a K 
# 		• se non ce ne dovesse essere nessuno, dovrà stampare a schermo un messaggio adeguato.

In [50]:
lista_numeri=[(input("inserire una lista di numeri separata da una virgola:"))]
k=int(input("inserire numero k:"))
lista_new=[]
i = 0
lista_numeri2 = [int(lista_numeri[i]) for i in lista_numeri if i.isdigit()]

lista_numeri2

"""
for i in range(len(lista_numeri)):
    if int(lista_numeri[i])>=k:
        lista_mew.append(int(lista_numeri[i]))
        i+=1
    else:
        i+=1
print(sum(lista_new)/len(lista_new))
"""

inserire una lista di numeri separata da una virgola: 12,25,752,122
inserire numero k: 50

[]

In [ ]:
# Esercizio 21
# 	Scrivere un programma che, data una lista di numeri, come output stamperà lo stesso numero di asterischi su righe diverse, 
# 	ottenendo una semplice visualizzazione grafica 
# 	Esempio, supponendo di avere il seguente input: 
# 		numeri = [5, 2, 3, 4] 
# 	L'output sarà: 
# 		***** 
# 		** 
# 		*** 
# 		****

In [54]:
numeri = [5, 2, 3, 4,10] 
i=0
for i in range(len(numeri)):
    print("*"*numeri[i])
    i+=1

*****
**
***
****
**********

In [ ]:
# Esercizio 22
# 	Abbiamo una lista di codici fiscali: 
# 		lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"] 
# 	• trovare i codici fiscali che contengono "95", metterli in una lista, e alla fine stamparla; 
# 	• inoltre, per ognuno di essi, stampare a video i caratteri relativi al nome e quelli relativi al cognome.

In [4]:
# Lista dei codici fiscali
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]
i=0
for i in range (len(lista_cf)):
    if "95" in lista_cf[i]:
        print(lista_cf[i])
        i+=1

# Lista per i codici fiscali che contengono "95"
cf_con_95 = []

# Funzione per estrarre nome e cognome da un codice fiscale
def estrai_nome_cognome(cf):
    cognome = cf[:3]
    nome = cf[3:6]
    return cognome, nome

# Ciclo per trovare i codici fiscali con "95" e stampare nome e cognome
for cf in lista_cf:
    if "95" in cf:
        cf_con_95.append(cf)
        cognome, nome = estrai_nome_cognome(cf)
        print(f"Cognome: {cognome}, Nome: {nome}")

# Stampa dei codici fiscali che contengono "95"
print("\nCodici fiscali che contengono '95':")
print(cf_con_95)

Cognome: ABC, Nome: DEF
Cognome: STU, Nome: VWX
Cognome: DEF, Nome: GHI

Codici fiscali che contengono '95':
['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']

In [16]:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]
i=0
lista_cf_95=[]
for i in range (len(lista_cf)):
    if "95" in lista_cf[i]:
        lista_cf_95.append(lista_cf[i])
        i+=1
print(lista_cf_95)
i=0
for i in range (len(lista_cf_95)):
    cf = lista_cf_95[i]
    print("nome:", cf[:3], "cognome: ", cf[3:6])
    i+=1

['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']
nome: ABC cognome:  DEF
nome: STU cognome:  VWX
nome: DEF cognome:  GHI

In [ ]:
# Esercizio 23
# 	Abbiamo tre liste della stessa lunghezza, dove ogni elemento nella medesima posizione si riferisce ai dati dello stesso studente: 
# 		studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
# 		corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"] 
# 		edizioni = [1, 2, 3, 2, 2, 1, 3, 3] 
# 	• Stampare a video tutti e soli gli studenti che frequentano una prima edizione; non tutti i dati potrebbero essere necessari. 25 
# 	• Riuscite a vedere una similarità con la logica che si usa in SQL e le tabelle relazionali?

In [15]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"] 
edizioni = [1, 2, 3, 2, 2, 1, 3, 3] 

i=0
for i in range(len(edizioni)):
    if edizioni[i] == 1:
        print(studenti[i],corsi[i], edizioni[i])
        i+=1
    else:
        i+=1

Alex Cybersecurity 1
Faith Backend 1

In [ ]:
# Esercizio 24
# 	Abbiamo una lista di stringhe di prezzi in dollari, che erroneamente sono stati scritti con il simbolo dell'euro: 
# 		prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"] 
# 	cambiare il simbolo dell'euro (€) in quello del dollaro ($) per ogni stringa nella lista; 
# 	il risultato sarà memorizzato in un'altra lista.

In [10]:
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"] 
prezzi_dollaro=[]
i=0
for i in range (len(prezzi)):
    prezzi_dollaro.append(prezzi[i].replace("€","$"))
    i+=1
print(prezzi_dollaro)

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

In [ ]:
# Esercizio 25
# 	Abbiamo una lista di studenti: 
# 		studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"] 
# 	vogliamo dividere gli studenti in due squadre per un campionato di Uno nel seguente modo: 
# 	selezioneremo i nomi in posizione pari per un squadra, e i nomi in posizione dispari per l'altra. 
# 	Creiamo due liste per ogni squadra, e alla fine visualizziamole.

In [40]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]
squadra1=[]
squadra2=[]
i=0
for i in range(len(studenti)):
    if i%2 == 0:
        squadra1.append(studenti[i])
    else:
        squadra2.append(studenti[i])
    i+=1

print("Squadra dispari:",squadra1)
print("Squadra pari:",squadra2)

Squadra dispari: ['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
Squadra pari: ['Bob', 'Dan', 'Faith', 'Henry', 'John']

In [ ]:
# Esercizio 26
# 	Abbiamo una lista con i guadagni degli ultimi 12 mesi (supponiamo da Gennaio a Dicembre): 
# 		guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50] 
# 	dobbiamo confrontare, stampando tutto a video, il guadagno di ogni mese con la media dei guadagni precedenti, 
# 	e specificare nell'output se il guadagno attuale è maggiore o minore della media dei precedenti. 
# 	Esempio di un possibile output: 
# 		Mese 1: 100 € 
# 		Mese 2: 90 € (media prec: 100 € - il guadagno attuale è minore) 
# 		Mese 3: 70 € (media prec: 95 € - il guadagno attuale è minore)

In [100]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50] 
somma=0
i = 0
for i in range(12):
    somma = somma + guadagni[i]
    media = somma//(i+1)
    #if i==0:
    #    i+=1
    #    print("il guadagno del Mese",i,"è:", guadagni[0])
    if i==0:
        print("il guadagno del Mese",i+1,"è:", guadagni[i])
        i+=1
    else:

        if guadagni[i]<media:
            print("il guadagno del Mese",i+1,"è:", guadagni[i], "ed è minore della media (", media,")")
            i+=1
        else:
            print("il guadagno del Mese",i+1,"è:", guadagni[i], "ed è maggiore o uguale della media (", media,")")
            i+=1

il guadagno del Mese 1 è: 100
il guadagno del Mese 2 è: 90 ed è minore della media ( 95 )
il guadagno del Mese 3 è: 70 ed è minore della media ( 86 )
il guadagno del Mese 4 è: 40 ed è minore della media ( 75 )
il guadagno del Mese 5 è: 50 ed è minore della media ( 70 )
il guadagno del Mese 6 è: 80 ed è maggiore o uguale della media ( 71 )
il guadagno del Mese 7 è: 90 ed è maggiore o uguale della media ( 74 )
il guadagno del Mese 8 è: 120 ed è maggiore o uguale della media ( 80 )
il guadagno del Mese 9 è: 80 ed è maggiore o uguale della media ( 80 )
il guadagno del Mese 10 è: 20 ed è minore della media ( 74 )
il guadagno del Mese 11 è: 50 ed è minore della media ( 71 )
il guadagno del Mese 12 è: 50 ed è minore della media ( 70 )